@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    
}

.navbar-dark{
    height: 50px;
    background-color: #000;
}
.white {
    color: white;
    display: flex;
    align-items: center; 
    font-family:  'Roboto Slab', serif;
    font-size: 10px;
    
}
.phone, .mail-3{
    padding-right: 8px;
    font-size: 8px;
    width: 20px;
    height: 22px; 
}

.Telegram, .Twitter, .Whatsapp{
    padding: 0 8px 0px 8px;
    font-size: 8px;
    width: 26px;
    height: 24px; 
}
.Facebook{
    padding: 0 8px 0px 8px;
    font-size: 8px;
    width: 22px;
    height: 24px; 
}

.contact{
 margin-left: 10%;
 
}

.social-media{
    margin-right: 12%;
}

.link-white a{
    color: #fff;
}

.link-orange a{
    color: #EEC221;
}

.logo{
    width: 135px;
    height: 35px;
}

.nv-i, .nv-i a{
    margin-right: 5px;
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.slide{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 900px;
    font-family: 'Roboto Slab', serif;
}

.position, .position-slider{
    position:relative;
    top: -55px;
    left: 0;
    width: 1980px;
    height: 1000px;
}

h1, h2{
    position: absolute;
    width: 608.57px;
    height: 151px;
    top: -600px;
    text-align: left;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    line-height: 83px;
    display: flex;
    text-transform: uppercase;
    color: #990071;
    font-weight: bolder;
}


.txt1, .txt2, .txt3{
    position: absolute;
    width: 550px;
    height: auto;
    top: -500px;
    text-align: justify;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

.position-buttom{
    position: relative;
    top: -120px;
}   

.boton-slider{
    display: flex;
    position: absolute;
    width: 173.11px;
    height: 47px;
    left: 0px;
    top: -320px;
    background: #EEC221;
}

.Section_N2{
    margin-top: 150px;
    padding: 100px 0 100px 0;
    height: 100%;
    background: rgba(126, 126, 126, 0.928);
}

.modify-grid{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.c-b-layer{
    background: #20006A;
    border: 1px solid #20006A;
}
.c-b{
    background: #20006A;
}
.c-b-txt{
    color: #20006A;
}
.c-o-layer{
    background:#EEC221;
    border: 1px solid #EEC221;
}
.c-o{
    background: #EEC221;
}
.c-o-txt{
    color: #EEC221  ;

}
.c-v-layer{
    background: #990071;
    border: 1px solid #990071;
}
.c-v{
    background: #990071;
}
.c-v-txt{
    color: #990071;
}
.c-r-layer{
    background: #C7003F;
    border: 1px solid #C7003F;
}
.c-r{
    background: #C7003F;
}
.c-r-txt{
    color: #C7003F;
}

.layers1{
    display: flex;
    width: 160px;
    height:160px;
    margin:auto;
    margin-top: -390px;
    border-radius: 50%;
    transition: background-color 0.5s;
}

.moduloimg{
    display: block;
    margin: auto;
}

.layers1:hover, .pseudo1:hover  {
    background-color: #848282;
    border-color: #848282;
}

.desc{
    position: relative;
    height: 250px;
    width: 300px;display: flex;
    justify-content: center;
    align-items: center;
}

.tittle{
    position: absolute;
    top: 0;
    text-align: center;
    width: 300px;
    padding-top: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder ;
    transition: color 0.5s;
    -webkit-text-stroke: 0.3px #000;
}

.tittle:hover {
    color: #848282;
    -webkit-text-stroke: 0.3px #000;
}

.pseudo1{
    margin: auto;
    margin-top: 20px;
    width: 42px;
    height: 2px;
}
.info{
    position: absolute;
    top: 120px;
    width: 300px;
    height: 100px;
    padding: 0 15px 0 15px;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
    color: #fff;
}

.Section_N3{
    height: 150px;  
    padding: 6% 14% 8.5% 14%;
    align-items: center;
}

.cont-center{
    height: 50px;
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-com{
    width: 173.11px;
    height: 47px;
    background: #EEC221;
}

.Section_N4{
    background-color: #525252;
    height: 100%;
    padding: 0 0 60px 0;
}
.section-tittle{
    width: 100%;
    text-align: center;
    padding-top: 55px;
    font-family: 'Roboto Slab', serif;
}

.section-tittle h3{
    color: #eec221;
    -webkit-text-stroke: 0.3px #000;
}

.section-tittle h4{
    color: #fff;
    font-size: 16px;
}

.section-tittle .pseudo2{
width: 60px;
height: 2px;
background: #EEC221;
margin: 20px auto 20px auto;
}

.TLOK-courses{
    width: 100%;
    align-items: center;
}

.TLOK-courses .row{
    margin: 10px -40px 0 -40px;
    justify-content: center;
}

.TLOK-courses .col-3{
    width: 320px;
}
.course-cont{
    background-color: #f8f9fa;
    height: 498px;
    margin: 5px;
    position: relative;
}

figure{
    position: absolute;
    width: 320px;
    height: 280px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-course {
    position: absolute;
    width: 320px;
    height: 280px;
    top: 0;
    left: 0;
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .4s ease-in-out;
    transition: .6s ease-in-out;
}
.img-course:hover {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
 }

.course-tittle{
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.cromo{
position: absolute;
width: 45px;
height: 45px;
left: 8px;
top: 2.5px;
border-radius: 22.7px;
}

.cromo {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}
.cromo:hover {
	opacity: .8 ;
}   

.course-tittle h5{
    color: #fff;
    position: absolute;
    left: 61px;
    right: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin: 0;
}

.pseudo3{
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 50px;
    opacity: 0.6;
}

.desc-course{
    position: absolute;
    width: 320px;
    height: 163px;
    left: 0px;
    top: 280px;
    right: 0;
    background-color: #848282;
}

.desc-course h5{
    color: #eec221;
    position: absolute;
    left: 10px;
    right: 0;
    top: 17px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    -webkit-text-stroke: 0.1px #000;
}
.desc-course p{
    position: absolute;
    left: 10px;
    right: 12px;
    top: 37px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
}

.masinfo{

position: absolute;
height: 55px;
left: 0;
top: 443px;
right: 0
}

.masinfo a{
    position: absolute;
    color: #C7003F;
    transition: .4s ease-in-out;
    top: 12.5px;
    right: 12px;
    text-decoration: none;
}

.fot-color{
    background-color: #005691;
    padding-top: 10px;
    color: #fff;
}
.fot-color-tittle{
color: #d3d2d2;
}

.logo-size{
width: 194px;
height: 51px;
margin: 0 0 20px 0;
}

.no-decoration{
    text-decoration: none;
}

.text-reset:hover{
    color: #C7003F;
}
/* navbar */
.triangulo {
    position: relative;
    width: 0;
    height: 0;
    right: 16px;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 6.5px solid rgb(255, 255, 255);
    transition: transform 1s ease;
    transform-origin: 180 bottom;
}
.cont-navbar.animacion .triangulo {
    transform: rotate(180deg);
  }
.dropdown {
    position: relative;
    display: block;
}

.dropdown__trigger {
    cursor: pointer;
    background-color: #005691;
    display: inline-block;
    padding: 0 25px 0 12px;
}

.dropdown__content {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 10px;
    width: 100px;

}

.dropdown:hover .dropdown__content {
    display: block;
    
}

.fs-14{
    font-size: 14px;
}

.pseudo-line{
    background-color: #cdd3d8;
    position: absolute;
    height: 1.5px;
    right: 0;
    left: 0;
}

.user-scroll{
    border-radius: 0 10px 10px 10px ;
    border: 1px solid #cdd3d8;
    background-color: #fff;
}